*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* header section */

body{
    font-family: 'RocknRoll One', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration:none;
    color: black;
}

p{
    color: black;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    
    max-width: 50%;
    padding: 50px 0;
    margin-left: 250px;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #03010a;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    transition: transform 0.5s;
}

.btn:hover{
    background: #3b2736ea;
    transform: translateY(-10px);
}

.header{
    background: radial-gradient(#fff,hsl(330, 90%, 68%));
}

.header .row{
    margin-top: 70px;
}

/* featured section */

.catogaries{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 200px;
    margin-bottom: 30px;
}


.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    min-width: 100px;
    margin: 200x;
    transition: transform 0.5s;
}

.col-4{
    width: 100%;
}

.col-4:hover{
    transform: translateY(-10px);
    
}


.title{
    text-align: center;
    margin: 50px 50px;
    position: relative;
    line-height: 60px;
    color: black;
}

.title::after{
    content: '';
    background: #f346b9;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: black;
    font-weight: normal;
}

.col-4 p{
    font-size: 10px;
}

/*--------------------offer---------------*/


.offer{
    background: radial-gradient(#fff,hsl(330, 90%, 68%));
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    
}

.col-2 .offer-img{
    padding: 50px;
    padding-left: 20px;
    padding-right: 10px;
    margin: 20px;
    width: 500px;
    height: 320px;
}

.text{
    margin: 20px;
    margin-left: 0px;
}

/*----------------------Testimonial---------------------*/

.testimonial{
    padding-top: 60px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(85, 5, 42, 0.1);
    transition: transform 0.5s;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

span{
    color: #f346b9;
}

.col-3 p{
    font-size: 14px;
    color: black;
    margin: 12px 12px;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: black;
    font-size: 16px;
}

/*----------------brands----------------*/

.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0);
}


/*-------footer--------*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer .container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background-color: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


/*-----------All Products----------*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid #f346b9;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display:inline-block;
    border: 1px solid #f346b9;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor:pointer;
    transition: transform 0.5s;
}

.page-btn span:hover{
    background: #f346b9;
    color: #fff;
    transform: translateY(-5px);
}





/*--------------Product details----------------*/





.single-product{
    margin-top: 80px;
    
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 20px;
}





/*---------media query for menu--------*/


@media only screen and (max-width: 1000px){
    nav ul{
        position: absolute;
        top: 80px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 2s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: initial;
        cursor: pointer;
    }
    nav .bi-house-door-fill{
        fill: #fff;
        display: none;
    }
    nav .bi-cart-fill{
        fill: #fff;
        display: none;
    }
    nav .bi-info-circle-fill{
        fill: #fff;
        display: none;
    }
    nav .bi-telephone-fill{
        fill: #fff;
        display: none;
    }
    nav .bi-person-fill{
        fill: #fff;
        display: none;
    }

}
  
/*------------Media query for less than 600 screen size-----------*/

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}





